@use 'sass:math';

// Color
$blue: #53c0f0;
$white: #fff;
$hover-white: #e4e4e4;

// Background Color
$pink: #f1907e;

// Size
$mobile-design-size: 375;
$mobile-size: 768;
$desctop-size: $mobile-size + 1;
$desctop-min-width: 1000;

// Font
@function vw($px, $size: $mobile-design-size) {
  @return math.div($px, $size) * 100vw;
}

// Media query
@mixin mobile {
  @media screen and (max-width: #{$mobile-size}px) {
    @content;
  }
}

@mixin desctop {
  @media screen and (min-width: #{$desctop-size}px) {
    @content;
  }
}

// Hover
@mixin hoverStyle {
  @media (hover: hover) {
    &:hover {
      cursor: pointer;
      @content;
    }
  }
  @media (hover: none) {
    &:active {
      @content;
    }
  }
}

@mixin hoverOpacity {
  opacity: 0.8;
}
